<% include ../partials/header %>

<% include ../partials/sidebar %>

<div class="col-md-9">
  <!-- EDIT HOSTEL FORM
  ==================================================-->
  <form method="POST" action="/hostel/<%= hostel._id %>?_method=PUT">
    <legend>Edit <%= hostel.name %> Hostel</legend>
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
            <input id="name" name="name" type="text"
                placeholder="Name" class="form-control input-md"
                value="<%= hostel.name %>">
        </div><!-- ./form-group -->

        <div class="form-group">
          <select id="category" name="category" class="form-control">
            <% for (let i = 0; i < categories.length; ++i) { %>
                <option value="<%= categories[i]._id %>">
                  <%= categories[i].name %>
                </option>
            <% } %>
          </select>
        </div><!-- ./form-group -->

        <div class="form-group">
            <textarea id="name" name="address" placeholder="Address"
              class="form-control input-md"><%= hostel.address %></textarea>
        </div><!-- ./form-group -->

        <div class="form-group">
            <input id="phoneNumber" name="phone" type="text"
                placeholder="PhoneNumber" class="form-control"
                value="<%= hostel.phone %>">
        </div><!-- ./form-group -->

        <div class="form-group">
            <input id="Name" name="warden[name]" type="text"
                placeholder="Warden Name" class="form-control"
                value="<%= hostel.warden.name %>">
        </div><!-- ./form-group -->

        <div class="form-group">
            <textarea id="Address" name="warden[address]" type="text"
                placeholder="Warden Address "
                class="form-control"><%= hostel.warden.address %></textarea>
        </div><!-- ./form-group -->

        <div class="form-group">
            <input id="PhoneNumber" name="warden[phone]" type="text"
                placeholder="Warden PhoneNumber" class="form-control"
                value="<%= hostel.warden.phone %>">
        </div><!-- ./form-control -->

        <!-- Select Basic -->
        <div class="form-group">
            <select id="ownerNames" name="owner" class="form-control">
              <% for (let j = 0; j < users.length; ++j) { %>
                <option value="<%= users[j]._id %>">
                  <%= users[j].username %>
                </option>
              <% } %>
            </select>
        </div><!-- ./form-group -->

        <div class="form-group">
         <input type="submit" name="submit" value="submit" class="btn btn-primary">
        </div><!-- ./form-group -->

      </div><!-- ./col -->
    </div><!-- ./row -->
  </form><!-- ./new hostel form -->

</div><!-- ./col -->

<% include ../partials/footer %>
