<% include ../partials/header %>

<% include ../partials/sidebar %>

<div class="col-md-9">
  <!--  ROOM DETAILS
  ==================================================-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Room Details</h3>
    </div>
    <div class="panel-body">

      <p> Room Number: <%= room.roomNumber %> </p>
      <p> Floor: <%= room.floor %> </p>
      <p> Number of Beds: <%= room.numBeds %> </p>
      <p>
         Number of Unoccupied:
         <%=
           Number.parseInt(room.numBeds, 10)
           -
           Number.parseInt(room.numOccupied, 10)
         %>
      </p>
      <p>
        Hostel Name: <%= room.hostel.name %>
      </p>
      <p>
        Cost: <%= room.cost %>
      </p>

      <br><br>
      <a href="/tenant/new?room=<%= room._id %>"
        class="btn btn-default">
        Create Tenant
      </a>
      <a href="/tenant?room=<%= room._id %>"
        class="btn btn-default">
        See All Tenants
      </a>

      <br><br>
      <br><br>

      <!-- EDIT -->
      <a href="/room/<%= room._id %>/edit" class="btn btn-warning btn-xs">
          Edit
      </a>
      <!-- DELETE -->
      <form action="/room/<%= room._id %>?_method=DELETE" method="post"
          style="display: inline-block">
        <input type="submit" value="Delete" class="btn btn-danger btn-xs">
      </form>

    </div>
  </div>

</div><!-- ./col -->

<% include ../partials/footer %>
